# Environmental variables
.env

# Unpublished/in-development commands
commands/**/_*.py

# Unpublished/in-development events
events/_*.py

# Unpublished libraries
lib/**/%*.py

# Testing files
tests/*

# Databases
*.db
*.sqlite